{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'file.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>ABOUT ME | Patilele</title>
  <style>
    .tentanggue{
      background:url('/static/photo/langit.jpg') no-repeat;
      background-size: cover;
      height:fit-content;
      background-attachment: fixed;
    }
  
    .deskripsi{
      padding-left: 100px;
      padding-top: 10%;
    }
  
    p4{
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: white;
        text-decoration: none;
        padding-top: 16px; 
        text-align: justify;
        font-weight: 300;
    }
  
    p3{
        font-family: "Titillium Web";
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        color: white;
        margin-top:5px;
        line-height: 70px; 
        letter-spacing: 0.2em;   
    }
  
    .rotateimg270{
      -webkit-transform:rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      transform: rotate(270deg);
    }
  
    .fotogue{
        padding-top: 50px;
        padding-left: 100px;
        
    }
    </style>
  </head>
  <body class="tentanggue">
      <nav class="nav__links">
        <div class="menubar">
            <a class="navbar-brand" href="/"><img src="{% static 'photo/house-icon-white-22.jpg' %}" style="width:30px;height:30px;"></a>
            <ul class="button">
                <li><a href="/experiences/">Experiences</a></li>
                <li><a href="/education/">Educations</a></li>
                <li><a href="/skills/">Skills</a></li>
                <li><a href="/schedule/"><Form:post>Schedule</Form:post></a></li>
            </ul>
        </div>
        
      </nav>
      <div class="container">
        <p3><br>About Me.<br><br></p3>
        <div class="row">
            <div class="col-sm-6">
              <p4>An undergraduate bachelor's student at
                Faculty of Computer Science, University of
                Indonesia who really likes challenges and never
                afraid to take risks. Also a figure who loves
                to socialize and always has a big responsibility
                for everything he does.
                </p4>    
            </div>
            <div class="col-sm-6">
              <div class="fotogue">
                <img src="{% static 'photo/Fadhil Ibrahim.JPG' %}" class="rotateimg270" alt="Patilele" width="300" height="200">
              </div>
            </div>
     
       
        
        

  
        


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
 
</html>