{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/file.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
    <style>
      .schd{
        background: url("https://i.ibb.co/b147qPy/hotel.jpg") no-repeat;
        background-size: cover;
        height:fit-content;
        background-attachment: fixed;
      }

      p6{
        font-size: 25px;
        color:aliceblue;
      }

      p7{
        font-size:25px;
        color:lawngreen;
      }

      .article{
        padding-right: 10px;
      }

      .note{
        padding-top:30px;
      }
      </style>
  </head>
  <body class="schd">
      <nav class="nav__links">
        <div class="menubar">
            <a class="navbar-brand" href="/"><img src="{% static 'photo/house-icon-white-22.jpg' %}" style="width:30px;height:30px;"></a>
            <ul class="button">
                <li><a href="/aboutme/">About Me</a></li>
                <li><a href="/education/">Educations</a></li>
                <li><a href="/experiences/">Experiences</a></li>
                <li><a href="/skills/">Skills</a></li>
            </ul>
        </div>          
      </nav> 
      <div class="container">
          <a href="{% url 'schedule' %}"></a>
          <p3><br>Schedules.<br><br></p3>
      
          <table class="table">
              <thead>
                <tr>
                  <th scope="col"><p7>Activity</p7></th>
                  <th scope="col"><p7>Date</p7></th>
                  <th scope="col"><p7>Time</p7></th>
                  <th scope="col"><p7>Place</p7></th>
                  <th scope="col"><p7>Category</p7></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for schedule in schedules %}
                <tr>
                  <td><p6>{{ schedule.activity }}</p6></td>
                  <td><p6>{{ schedule.date.date }}</p6></td>
                  <td><p6>{{ schedule.time }}</p6></td>
                  <td><p6>{{ schedule.place }}</p6></td>
                  <td><p6>{{ schedule.category }}</p6></td>
                  <td><a href="{%  url 'delete' schedule.id %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Delete</button></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
      </div>
      <div class="make">
        <div class="container">
            <div class = 'form-group'> 
                <a href="{% url 'schedule_delete' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Clear</button></a>
                <a href="{% url 'schedule_create' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button></a>
            </div>
        </div>
      </div> 
    
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  
  
</html>


