{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'file.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>SKILLS | Patilele</title>
  <style>
    h3{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    color:white;
    }

    .myskills{
        background: url('/static/photo/buildings.jpg') no-repeat;
        background-size: cover;
        height:fit-content;
        background-attachment: fixed;
    }

    .container{
        width: 50%;
        margin: 0 auto;
    }

    @keyframes load{
        from {
        width: 0%
        }

    }

    @-webkit-keyframes load{
        from {
        width: 0%
        }

    }

    @-moz-keyframes load{
        from {
        width: 0%
        }

    }

    @-o-keyframes load{
        from {
        width: 0%
        }

    }
    

    .bar{
        padding: 2px;
        border-radius: 15px;
        margin-bottom: 5px;
        font-size: 14px;
        color: #FFF;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);

    }

    .bar::before{
        content:  attr(data-skill);
        background-color: lawngreen;
        display: inline-block;
        padding: 5px 0 5px 10px;
        border-radius: inherit;
        animation: load 2s 0s;
        -webkit-animation: load 2s 0s;
        -moz-animation: load 2s 0s;
        -o-animation: load 2s 0s;

    }

    .bar.front::before{
        background-color:lawngreen;

    }

    .bar.back::before{
        background-color: lawngreen;

    }
    

    .bar.learning::before{
        width: calc(20% - 10px);

    }

    .bar.basic::before{
        width: calc(40% - 10px);

    }

    .bar.intermediate::before{
        width: calc(60% - 10px);

    }

    .bar.advanced::before{
        width: calc(80% - 10px);

    }

    .bar.expert::before{
        width: calc(100% - 10px);

    }
</style>
  </head>
  <body class="myskills">
      <nav class="nav__links">
        <div class="menubar">
            <a class="navbar-brand" href="/"><img src="{% static 'photo/house-icon-white-22.jpg' %}" style="width:30px;height:30px;"></a>
            <ul class="button">
                <li><a href="/aboutme/">About Me</a></li>
                <li><a href="/experiences/">Experiences</a></li>
                <li><a href="/education/">Educations</a></li>
                <li><a href="/schedule/"><Form:post>Schedule</Form:post></a></li>
          
            </ul>
        </div>          
      </nav> 
      <div class="container">
            <p3><br>Skill.<br><br></p3>
            <div class="bar back intermediate" data-skill="Java"></div>
            <div class="bar learning" data-skill="CSS"></div>
            <div class="bar back basic" data-skill="Python"></div>
            <div class="bar learning" data-skill="HTML5"></div>
            <div class="bar back intermediate" data-skill="Photoshop"></div>
            <div class="bar front advanced" data-skill="Microsoft Office"></div>
            
      </div>

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

  
</html>