{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/file.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>HOME | Patilele</title>
  </head>
  <body class="homepage">
      <nav class="nav__links">
        <div class="menubar">
            <ul class="button">
                <li><a href="/aboutme/">About Me</a></li>
                <li><a href="/experiences/">Experiences</a></li>
                <li><a href="/education/">Educations</a></li>
                <li><a href="/skills/">Skills</a></li>
                <li><a href="/schedule/"><Form:post>Schedule</Form:post></a></li>
                
            </ul>
            
        </div> 
                
      </nav>
    
       
      <div class="tulisan">
        <div class="container">
            <div class="col-sm-12">
                <p>I'm </p>
                <p1> Fadhil.</p1>       
                <p2><br>FUTURE DEVELOPER</p2>
                <div class="socmed">
                    <div class="container">
                        <a href="https://www.instagram.com/fadhilibra/" class="fa fa-instagram"><img src="{% static 'photo/instagram-1-1.png' %}" style="width:75px;height:50px;"></a>
                        <a href="https://twitter.com/patilele12" class="fa fa-twitter"><img src="{% static 'photo/Twitter_Logo_White_On_Image.png' %}" style="width:60px;height:60px;"></a>
                        <a href="https://www.linkedin.com/in/fadhil-ibrahim-18a766187/" class="fa fa-linkedin"><img src="{% static 'photo/img_223947.png' %}" style="width:50px;height:50px;"></a>
                    </div>
                </div>
              </div>
        </div>
      </div>
     
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <style>
  .homepage{
    background: url("https://i.ibb.co/WGQ8zhr/Copy-of-DSC06667-1-3-d49ff0fde9e2.jpg");
    background-size: cover;
    height:fit-content;
    background-attachment: fixed;
  }
  .tulisan{
    padding-left: 5%;
    padding-top: 7%;
  }

  p{
      font-family: "Titillium Web";
      font-style: normal;
      font-weight: bold;
      height: 200px;
      font-size: 150px;
      color: white;
      margin-bottom:5px;
      letter-spacing: 0.2em;    
  }

  p1{
      font-family: "Titillium Web";
      font-style: normal;
      font-weight: bold;
      height: 200px;
      font-size: 150px;
      color: white;
      letter-spacing: 0.2em;
      margin-top:5px;
      line-height: 70px;
      
  }

  p2{
      font-family: "Montserrat";
      font-style: normal;
      font-size: 35px;
      color:white;
      width: 100%;
  }

  .socmed{
      padding-top: 30px;
      
  }

  .fa {
      padding-left: 0px;
      font-size: 30px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
  }


  .fa-instagram {
      background: transparent;
      color: white;
  }

  .fa-linkedin{
      background: transparent;
      color: white;
      
  }

  .fa-twitter{
      background: transparent;
      color:white;
  }

  
  </style>
</html>
